.page-header
  %h1 Host Group(s)

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Hosts
      %th
  %tbody
    - host_groups.each do |hg|
      = content_tag_for :tr, hg do
        %td= link_to(hg.name, hg)
        %td
          = raw( hg.hosts.map(&:name).join('<br/>') )
        %td
          = link_to 'Destroy', hg, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-warning' if hg.destroyable? and (!OACIS_READ_ONLY)

- unless OACIS_READ_ONLY
  %a.btn.btn-primary{href: new_host_group_path} New Host Group(s)

