language: ruby
rvm:
  - "2.2.2"
services: mongodb
sudo: false
install:
  - ssh-keygen -t rsa -N '' -f ~/.ssh/id_rsa
  - cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
  - chmod 600 ~/.ssh/authorized_keys
  - ssh-keyscan -H localhost >> ~/.ssh/known_hosts
  - ssh localhost ls
  - git clone https://github.com/crest-cassia/xsub.git
  - echo "export PATH=\"$TRAVIS_BUILD_DIR/xsub/bin:$PATH\"" >> ~/.bash_profile
  - echo "export XSUB_TYPE=\"none\"" >> ~/.bash_profile
  - cat ~/.bash_profile
  - bundle install --jobs=3 --retry=3 --path=vendor/bundle
cache:
  directories:
    - vendor/bundle
before_script:
  - sleep 15
script: bundle exec rspec spec/models/run_spec.rb

