= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@analyzer)}

.page-header
  %h1=t '.title', :default => @analyzer.name

= render partial: "shared/about", locals: {executable: @analyzer}
