%h3 List of Analysis

- @simulator.analyzers_on_parameter_set_group.each do |azr|
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th.span1 ID
        %th Updated at
        %th Analyzer
    %tbody
      - @simulator.analyses(azr).each do |arn|
        %tr
          %td= link_to( arn.id, parameter_set_group_analysis_run_path( arn.analyzable, arn) )
          %td= arn.updated_at
          %td= arn.analyzer.name
