%h3 List of Analysis

%table.table.table-condensed.table-striped.analyses_list#analyses_on_psg_list{:'data-source' => "#{_analyses_list_simulator_path(@simulator.to_param, format: "json")}"}
  %thead
    %tr
      %th{style: "min-width: 18px; width: 1%;"}
      %th.span1 ID
      %th Updated at
      %th Status
      %th Analyzer
      %th Target
  %tbody

:javascript
  $(function () {
    $('#analyses_on_psg_list').dataTable({
      bProcessing: true,
      bServerSide: true,
      bFilter: false,
      sAjaxSource: $('#analyses_on_psg_list').data('source'),
      sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      sPaginationType: "bootstrap"
    });
  });
