%h3 List of Analyzers
%table.table.table-condensed.table-striped#analyzers_list{:'data-source' => "#{_analyzer_list_simulator_path(@simulator.to_param, format: "json")}"}
  %thead
    %tr
      - AnalyzersListDatatable.header(@simulator).each do |th_element|
        = raw(th_element)
  %tbody
- unless OACIS_READ_ONLY
  = link_to 'New Analyzer', new_simulator_analyzer_path(@simulator), class: 'btn btn-primary'
#analyzers_list_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
      .modal-body.large#analyzers_list_modal_page
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

:javascript
  var oAzrTable;
  function reload_analyzers_table() {
    oAzrTable.ajax.reload(null, false);
  }

  $(function() {
    oAzrTable = $('#analyzers_list').DataTable({
      processing: true,
      serverSide: true,
      searching: false,
      pageLength: 10,
      ajax: $('#analyzers_list').data('source')
    });
    $('#analyzers_list_length').append(
      '<i class="fa fa-refresh padding-half-em clickable" id="analyzers_list_refresh"></i>'
    );
    var refresh_icon = $('#analyzers_list_length').children('#analyzers_list_refresh');
    refresh_icon.on('click', reload_analyzers_table);
  })
