%h3 List of Analyzers
%table.table.table-condensed.table-striped#analyzers_list{:'data-source' => "#{_analyzer_list_simulator_path(@simulator.to_param, format: "json")}"}
  %thead
    %tr
      - AnalyzersListDatatable.header(@simulator).each do |th_element|
        = raw(th_element)
  %tbody
.form-actions
  = link_to 'New Analyzer', new_simulator_analyzer_path(@simulator), class: 'btn btn-primary'

:javascript
  var oAzrTable;
  function reload_analyzers_table() {
    oAzrTable.fnReloadAjax();
  }

  $(function() {
    oAzrTable = $('#analyzers_list').dataTable({
      bProcessing: true,
      bServerSide: true,
      bFilter: false,
      iDisplayLength: 10,
      sAjaxSource: $('#analyzers_list').data('source'),
      sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      sPaginationType: "bootstrap"
    });
    $('#analyzers_list_length').append(
      '<i class="icon-refresh" id="analyzers_list_refresh"></i>'
    ).on('click', reload_analyzers_table);
  })
