%table.table.table-striped#parameter_set_filters_list{:'data-source' => "#{_parameter_set_filters_list_simulator_path(simulator: simulator.to_param, format: "json")}"}
  %thead
    %tr
      - ParameterSetFiltersListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody#parameter_set_filters_table_body

:javascript
  function init_filter_update_form_data(target) {
    const form = $('#filter_update_form');
    const fid = target.data('filter-id');
    const fname = target.data('filter-name');
    const fconditions = target.data('filter-conditions');
    form.data('filter-id', fid)
    form.data('filter-name', fname)
    form.data('filter-conditions', fconditions)
  }
  var oFilterSetTable = null;
  $("#parameter_set_filters_list_modal").on('show.bs.modal', function(event) {
    const url = "#{_parameter_set_filters_list_simulator_path(@simulator)}";
    oFilterSetTable = create_parameter_set_filters_list('#parameter_set_filters_list', url);
  });
  $("#parameter_set_filters_list_modal").on('hide.bs.modal', function(event) {
    oFilterSetTable.destroy();
  });
  $('#parameter_set_filters_table_body').on('click', "a[data-delete-url]", function() {
    const url = $(this).data('delete-url');
    const fid = $(this).data('filter-id');
    if(window.confirm('Are you sure?')) {
      $.ajax({
        url: url,
        type:'POST',
        data:{'filter': fid}
      })
      .done( (data)=> {
        oFilterSetTable.ajax.reload(null, false);
      })
    }
  });
  $('#parameter_set_filters_table_body').on('click', "#edit_filter_btn", function() {
    init_filter_update_form_data($(this));

    $('#parameter_set_filters_list_modal').modal('hide');
    $('#parameter_set_filter_update_form_modal').modal("show");
  });
