%h3 Keys Info
- @params_key_count.each do |key,kinds|
  %table.table.table-condensed.table-striped.table-hover
    %thead
      %tr
        %th.span1= key
        - kinds.each do |kind|
          %th.span1= kind.keys.first
    %tbody
      %tr
        %td counts
        - kinds.each do |count|
          %td= count.values.first
