%h3 Progress overview

%script{charset: "utf-8", src: "http://d3js.org/d3.v3.min.js"}

%div
  .row
    .span8#progress-overview
      %svg
      #progress-tooltip.progress-tooltip
    .span4
      %aside
        %p#total-parameters # of Runs:
        %p#finished-parameters # of Finished or Failed Runs:
        %p
          Progress each parameter set:
          %br
          0%-------------100%
          %br
          %svg#colormap-svg
        #color-map
        :javascript
          draw_color_map();
        %form.form-horizontal
        - parameter_keys = @simulator.parameter_definitions.map(&:key)
        .control-group
          %label Column Parameter:
          .controls
            = select_tag 'column_parameter', options_for_select(parameter_keys, selected: parameter_keys[0]);
        .control-group
          %label Row Parameter:
          .controls
            = select_tag 'row_parameter', options_for_select(parameter_keys, selected: parameter_keys[1])
        = submit_tag 'Show', name: 'show_progress_button', class: 'btn btn-primary'

  :css
    div.progress-tooltip {
      position: absolute;
      text-align: center;
      width: 160px;
      height: 40px;
      padding: 2px;
      font: 12px sans-serif;
      background: black;
      color: white;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
  :javascript
    var url = "#{_progress_simulator_path}" + ".json";
    draw_progress_overview(url);
