%h3 Progress overview

%div#progress-overview
  %aside{style: "margin-top:80px; right: 0; position: absolute;"}
    %p#total-parameters Total parameters value sets:
    %p#finished-parameters Finished parameters value sets:
    %p
      Progress each parameter set:
      %br>/
      0%-----100%
    #color-map
    %p
      Column Parameter:
      %select#column-parameter
    %p
      Row Parameter:
      %select#row-parameter
  %script{charset: "utf-8", src: "http://d3js.org/d3.v3.min.js"}
  :css
    div.progress-tooltip {
      position: absolute;
      text-align: center;
      width: 160px;
      height: 40px;
      padding: 2px;
      font: 12px sans-serif;
      background: black;
      color: white;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
  :javascript
    var url = "#{_progress_simulator_path}" + ".json"
    show_parameter_progress(url)
