- model_class = Simulator
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Updated at
      %th Progress
  %tbody
    - @simulators.each do |simulator|
      %tr
        %td= link_to h(simulator.name), simulator_path(simulator)
        %td= distance_of_time_in_words_to_now(simulator.updated_at)
        - counts = simulator.parameter_sets_status_count
        %td#progress= progress_bar(counts[:total], counts[:finished], counts[:running], counts[:failed])

.form-actions
  %a.btn.btn-primary{href: new_simulator_path} New Simulator
