.page-header
  %h1= "Host: #{@host.name}"

%div.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li
      %a{"href"=>"#tab-info", "data-toggle" => "tab"} Job Information

  %div.tab-content
    %div.tab-pane.active#tab-about
      = render "about"
    %div.tab-pane#tab-info
      = render "info"
