%h3 List of Analyses
- parameter_set = parameter_set
- run = run
- path_to_analyses_list = _analyses_list_parameter_set_path(parameter_set.to_param, format: "json") if parameter_set.present?
- path_to_analyses_list = _analyses_list_run_path(run.to_param, format: "json") if run.present?

%table.table.table-condensed.table-striped#analyses_list{:'data-source' => "#{path_to_analyses_list}"}
  %thead
    %tr
      %th{style: "min-width: 18px; width: 1%;"}
      %th AnalysisID
      %th analyzer
      %th parameters
      %th status
      %th version
      %th created_at
      %th{style: "min-width: 18px; width: 1%;"}
  %tbody

:javascript
  $(function() {
    var oTable = datatables_for_analyses_table();
  })
