%h3 List of Analyses
- parameter_set = parameter_set
- run = run
- path_to_analyses_list = _analyses_list_parameter_set_path(parameter_set.to_param, format: "json") if parameter_set.present?
- path_to_analyses_list = _analyses_list_run_path(run.to_param, format: "json") if run.present?

%table.table.table-condensed.table-striped#analyses_list.has_analysis_modal{:'data-source' => "#{path_to_analyses_list}"}
  %thead
    %tr
      - AnalysesListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody

:javascript
  $(function() {
    var id = 'analyses';
    const oTable = datatables_for_analyses_table();
    const objList = $("#tab-list-analyses");
    $("#tab-list-analyses").setIntervalCommon(id,oTable,objList);
  });

