%h3 Parameters
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th.span3 Key
      %th Value
  %tbody
    - parameters_hash.each do |key,val|
      %tr
        %th= h(key)
        %td= h(val)
