- title ||= "Results"
- if result.present?
  %h3= title
= render_output_json(result)

- if result_paths.present?
  %h3 Output Files
  .result-tree
    = File.dirname(file_path_to_link_path(result_paths.first))+"/"
    = make_tree_from_result_paths( result_paths )
  - if File.exist?( archived_result_path.to_s )
    %a.btn.btn-primary{href: file_path_to_link_path(archived_result_path)} Download Archive
:css
  ul.dynatree-container
  {
    border: none;
  }
  ul.dynatree-container img
  {
    width: 200px;
    height: auto;
  }

:javascript
  $(function () {
    $(".result-tree").each( function() {
      $(this).dynatree({
        onClick: function(node) {
          if (node.data.href) {
            location.href=node.data.href;
          }
        }
      });
    });
  });
