%li.list-group-item.clearfix
  %div(style="display: inline-block; vertical-align: top; width: 150px")= notification_event.created_at.strftime("%Y/%m/%d %H:%M:%S")
  %div(style="display: inline-block; vertical-align: top; width: 190px")= sanitize notification_event.message, tags: %w[a]
