.page-header
  %h1 Jobs

%div.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"href": "#tab-runs-unfinished", "data-toggle": "tab"} Unfinished Runs
    %li
      %a{"href": "#tab-runs-finished", "data-toggle": "tab"} Finished Runs
  %div.tab-content
    %div.tab-pane.active#tab-runs-unfinished
      %h3 Unfinished Runs
      %table.table.table-condensed.table-hover.table-striped#unfinished_runs_list{'data-source': _jobs_table_runs_path(format: 'json', run_status: ['created','submitted','running'])}
        %thead
          %tr
            - RunsListDatatable.header.each do |header|
              = raw(header)
        %tbody
    %div.tab-pane#tab-runs-finished
      %h3 Finished Runs
      %table.table.table-condensed.table-hover.table-striped#finished_runs_list{'data-source': _jobs_table_runs_path(format: 'json', run_status: ['finished','failed'])}
        %thead
          %tr
            - RunsListDatatable.header.each do |header|
              = raw(header)
        %tbody

:javascript
  $(function() {
    // unfinished runs
    const oUnfinishedRunsTable = datatables_for_runs_table('#unfinished_runs_list');
    // finished runs
    const oFinishedRunsTable = datatables_for_runs_table('#finished_runs_list');
  });

