.page-header
  %h1 Jobs

%div.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"href": "#tab-runs", "data-toggle": "tab"} Runs
  %div.tab-content
    %div.tab-pane.active#tab-runs
      %h3 Jobs for Runs
      %table.table.table-condensed.table-hover.table-striped#unfinished_runs_list{'data-source': _jobs_table_runs_path(format: 'json', run_status: ['created','submitted','running'])}
        %thead
          %tr
            - RunsListDatatable.header.each do |header|
              = raw(header)
        %tbody

:javascript
  $(function() {
    const objTable = datatables_for_runs_table('#unfinished_runs_list');
    const objList = $("#tab-runs");
    $("#tab-runs").setIntervalCommon('runs',objTable,objList);
  });

