= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@run)}

.page-header
  %h1 Run

%div.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li
      %a{"href"=>"#tab-analysis", "data-toggle" => "tab"} Results and Analysis

  %div.tab-content
    %div.tab-pane.active#tab-about
      = render "about"
    %div.tab-pane#tab-analysis
      = render "results"
      = render "analyses"

