= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@run)}

.page-header
  %h1 Run

%div.tabbable
  %ul.nav.nav-tabs
    %li
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li.active
      %a{"href"=>"#tab-analyses", "data-toggle" => "tab"} Results and Analyses

  %div.tab-content
    %div.tab-pane#tab-about
      = render "about"
    %div.tab-pane.active#tab-analyses
      = render partial: "shared/results", locals: {result: @run.result, result_paths: @run.result_paths, archived_result_path: @run.archived_result_path }
      = render "analyses", run: @run
