// Place all the styles related to the simulators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#query_table {
  display:table;
}
.row {
  display:table-row;
}
.row>div {
  display:table-cell;
}