.page-header
  %h2 Worker Activity
  = render "current_activity"
  %h2 Logs
  .well
    = render "filtering"
%table.table.table-striped.table-condensed{style: "font-size: smaller;"}
  %thead
    %tr
      %th Worker
      %th Date
      %th Severity
      %th Message
  %tbody#log_table_body
    = render "table_contents"

:javascript
  $(function() {
    const dont_reload = #{@filtering ? "true" : "false"};
    if ( dont_reload ) return;
    function reload_table() {
      $.get("/worker_logs/_contents", function(data) {
        $('#log_table_body').html(data);
      });
    };
    setInterval( function() {
      reload_table();
    }, 10000 );
  });
