%div.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"href"=>"#tab-list-runs", "data-toggle" => "tab"} Runs
    %li
      %a{"href"=>"#tab-parameter-analyzers", "data-toggle" => "tab"} Analysis

  .tab-content
    .tab-pane.active#tab-list-runs
      = render "runs_table", parameter_set: parameter_set
    .tab-pane#tab-parameter-analyzers
      = render "analyses", parameter_set: parameter_set

