%h3 Runs
%table.table.table-condensed.table-hover.table-striped#runs_list{:'data-source' => "#{_runs_list_parameter_set_path(@param_set.to_param, format: "json")}"}
  %thead
    %tr
      - RunsListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody

= render 'runs/form', parameter_set: @param_set, run: @param_set.runs.build

:javascript
  $(function() {
    var oTable = datatables_for_runs_table();
    aoRunsTables = [];
    aoRunsTables.push(oTable);
  })
