%h3 Runs
%table.table.table-condensed.table-hover.table-striped#runs_list{:'data-source' => "#{_runs_list_parameter_set_path(@param_set.to_param, format: "json")}"}
  %thead
    %tr
      %th.span1 #
      %th.span1 status
      %th.span1 host
      %th.span1 cpu_time
      %th.span1 real_time
      %th.span1 created_at
      %th.span1 started_at
      %th.span1 finished_at
  %tbody

= form_tag(parameter_set_runs_path(@param_set), class: 'well form-inline') do |f|
  = select_tag('num_runs', options_for_select([1,2,3,4,5,10,20]), class: 'input-mini')
  = submit_tag "Create Runs", :class => 'btn btn-primary'

:coffeescript
jQuery ->
  $('#runs_list').dataTable
    bProcessing: true
    bServerSide: true
    bFilter: false
    sAjaxSource: $('#runs_list').data('source')
    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
    sPaginationType: "bootstrap"
