%h3 List of Similar Parameter Sets

%table.table.table-condensed.table-striped#similar_params_list{data: {'source' => "#{_similar_parameter_sets_list_parameter_set_path(parameter_set.to_param, format: "json")}"} }
  %thead
    %tr
      - ParameterSetsListDatatable.header(parameter_set.simulator).each do |th_element|
        = raw(th_element)
  %tbody
#runs_list_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
      .modal-body.large#runs_list_modal_page
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

:javascript
  var reload_parameter_sets_table;
  $(function() {
    var oPsTable = create_parameter_sets_list('#similar_params_list', 10);
    reload_parameter_sets_table = function() {
      oPsTable.ajax.reload(null, false);
    }
  });
