%h3 List of Similar Parameter Sets

%table.table.table-condensed.table-striped#similar_params_list{data: {'source' => "#{_similar_parameter_sets_list_parameter_set_path(parameter_set.to_param, format: "json")}"} }
  %thead
    %tr
      - ParameterSetsListDatatable.header(parameter_set.simulator).each do |th_element|
        = raw(th_element)
  %tbody

:javascript
  $(create_parameter_sets_list('#similar_params_list', 10));
