%h3 List of Similar Parameter Sets

%table.table.table-condensed.table-striped#similar_params_list{data: {'source' => "#{_similar_parameter_sets_list_parameter_set_path(parameter_set.to_param, format: "json")}"} }
  %thead
    %tr
      - ParameterSetsListDatatable.header(parameter_set.simulator).each do |th_element|
        = raw(th_element)
  %tbody

- unless OACIS_READ_ONLY
  = render partial: 'simulators/create_runs_on_selected_modal', locals: {simulator: @param_set.simulator}

:javascript
  $(function() {
    var id = 'params';
    const oPsTable = create_parameter_sets_list('#similar_params_list', 10);
    const objList = $("#tab-about");
    $("#tab-about").setIntervalCommon(id,oPsTable,objList);
  });
  $(function() {
    $('#ps_check_all).prop('checked', false);
  });
