.page-header
  %h2
    = "Create a new parameter set on: #{@param_set.simulator.name}"
    %small
      %i.fa.fa-question-circle-o{data: {toggle:'tooltip', placement: 'bottom', html:'true', 'original-title': 'use comma-separated values<br/>to create multiple ParameterSets<br/>e.g. `10,11,12`'}}
- @run ||= @param_set.runs.build(submitted_to: @param_set.simulator.executable_on.first)
= render "form", parameter_set: @param_set, run: @run
