= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@param_set)}

.page-header
  %h1 Parameter Set

= render partial: "shared/parameters_table", locals: {parameters_hash: @param_set.v}

= render "runs_table"

= render "analysis"