/ IMPLEMENT ME: breadcrumb list

%ul.breadcrumb
  %li
    = link_to("Simulators", simulators_path)
    %span.divider /
  %li
    = link_to(@simulator.name, simulator_path(@simulator))

%h1 Parameters

%table.table.table-condensed
  %tr
    - @parameter_keys.each do |key|
      %th= key
  %tr
    - @parameter_keys.each do |key|
      %td= @parameter.sim_parameters[key]

%h2 Runs

%h4 Create new jobs

%h2 Results
